**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/node_modules/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.nupkg
**/packages/
**/*.log
**/secrets/
**/.env
.git
.gitignore
.vscode
Dockerfile*
docker-compose*
README.md
*.md
*.pdb
*.db
*.bak